body
{
    color: black;
}
h1
{
    font-family: sans-serif;
    color: turquoise;
}
h2
{
    font-family: sans-serif;
    color: turquoise;
}
h3
{
    font-family: sans-serif;
    color: turquoise;
}
div
{
    font-family: sans-serif;
    color: turquoise;
}
